body {
  text-align: center;
  color:#ffffff;
  background: #000000;
  margin: auto;
  font-family: 'Raleway';
}
body * {
  margin: 0;
  border: 0;
  padding: 0;
}
h1  {
  font-weight: 300;
  font-size: 3em;
  margin:0.1em;
}
h3 {
  margin-top: 2rem;
  padding: 0em 2em 0em 5em;
  font-weight: 300;
}
h2 {
  margin-bottom: 1.5rem;
  font-weight: 300;
}
.carac-section i {
  font-size: 2.5em;
  padding-bottom: 1rem;
}
.carac-section, .foot {
  background: #2a2721;
  padding: 2.5rem;
}
.desc-section {
  white-space: nowrap;
  text-align: center;
  margin: 4em;
}
.text-description  {
  width: 35%;
  text-align: left;
  vertical-align: middle;
  white-space: normal;
  display: inline-block;
  padding-right: 8em;
  font-weight: 300;
}
.desc-image {
  vertical-align: middle;
  display: inline-block;
}
.text-description * {
  margin-bottom: 1rem;
}
.image {
  padding: 1.8rem 0.4rem 1.8rem 0.4rem;
}
.image , h3 {
  display: inline-block;
}
a:link{
  text-decoration: none;
}
a:visited {
  color: inherit;
}
